<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product" type="Rosenborg\ProductMembership\Model\Product" />
    <preference for="Magento\Catalog\Block\Product\View" type="Rosenborg\ProductMembership\Block\Product\View" />
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Rosenborg\ProductMembership\Block\Product\ListProduct" />
    <preference for="Magento\Checkout\Model\Cart" type="Rosenborg\ProductMembership\Model\Cart" />
    <preference for="Magento\OfflineShipping\Model\Carrier\Flatrate" type="Rosenborg\ProductMembership\Model\Carrier\Flatrate" />
</config>